*, *::after, *::before {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.top-banner {
  height: 74px;
  background: linear-gradient(to right, #f9236f 0%, #f92346 100%), url("../images/top-banner-background.png");
  background-blend-mode: overlay;
  background-size: cover;

  &__container {
    width: 1171px;
    height: 74px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &__text {
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
  }
  .fa-times {
    background-color: #ffffff;
    padding: 11px 13px;
    border-radius: 50%;
  }
}


.meStore {
  height: 121px;
  background-color: #f8f9fa87;
  position: relative;

  &__container {
    width: 1171px;
    margin: 0 auto;
  }

  &__wrapper {
    display: flex;
    flex-direction: row-reverse;
    width: 795px;
  }

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ADADAD;
  }

  &__info {
    width: 443px;
    color: #222222;
    font-size: 15px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__options {
    width: 77px;
    color: #222222;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__logo {
    color: #222222;
    font-size: 26px;
    font-weight: bold;
  }

  &__contain {
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__icons {
    width: 115px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 20px;
  }

  .fa {
    color: #222222;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 5px;
    cursor: pointer;
  }
  .fa:hover {
    transform: scale(1.4, 1.4);
  }

  .top-menu {
    &__link {
      color: #222222 !important;
      font-size: 16px;
      font-weight: 700;
    }
    &__link:hover {
    }
  }

  .navbar {
    padding: 0;
    width: 1175px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .navbar-brand {
    padding: 0;
  }

  .nav-link {
    padding-bottom: 0;
    padding-top: 0;
  }

  .nav-link:hover {
    transform: scale(1.2, 1.2);
    color: #1874d0;
  }

  .navbar-collapse {
    width: 900px;
  }
}

.fashion-carnival {
  height: 1057px;
  background-image: url("../images/fashion-carnival-background.png"), url("../images/fashion-carnival-image.png");
  background-blend-mode: overlay;
  background-size: cover;
  margin-top: -121px;
  overflow: hidden;

  &__container {
    width: 1171px;
    padding-top: 200px;
    margin: 0 auto;
    display: flex;
  }

  &__content {
    width: 612px;
    height: 446px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 262px;
    z-index: 1;
  }

  &__title {
    color: #f9236f;
    font-size: 121px;
    font-weight: bold;
    line-height: 94.22px;
    text-transform: uppercase;
    letter-spacing: -1.18px;
    text-align: center;
  }

  &__title p:first-child {
    color: #222222;
  }

  &__date {
    color: #222222;
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 92.79px;
    text-align: center;
    width: 385px;;
  }

  &__text {
    color: #494949;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    margin-top: 30px;
  }

  &__btn {
    width: 156px;
    height: 47px;
    background-image: linear-gradient(to right, #f9236f 0%, #f92346 100%);
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    margin-top: 57px;
  }
  &__btn:hover {
      background-image: linear-gradient(to right, #ef062c 100%, #f9236f 100%);
      /*box-shadow: 5px 12px 22px 10px #FA9798;*/
  }

  &__image {
    position: relative;
    right: 151px;
    bottom: 17px;
  }
}

.promotion {
  height: 1160px;
  background-image: url("../images/promotion-background.png");
  background-size: cover;

  &__container {
    width: 1171px;
    height: 1220px;
    background-color: #ffffff;
    margin: 0 auto;
    position: relative;
    bottom: 60px;
    z-index: 1;
  }

  .benefits {
    &__content {
      width: 955px;
      height: 170px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 0 auto;
      position: relative;
      bottom: 50px;
    }

    &__item {
      width: 224px;
      height: 170px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }

    &__icon {
      width: 126px;
      height: 126px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background-color: #ffffff;
    }

    &__title {
      color: #000000;
      font-size: 30px;
      font-weight: bold;
      margin-top: -17px;
    }

    &__details {
      color: #000000;
      font-size: 16px;
      font-weight: 500;
      margin-top: 15px;
    }

    .fa {
      color: #5c5c5c;
      font-size: 50px;
      font-weight: 400;
    }
  }

  .banner {
    &__content {
      width: 1108px;
      height: 292px;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    &__item {
      width: 536px;
      height: 292px;
      background-color: #d7eff9;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      position: relative;
    }

    &__item:first-child {
      margin-right: 35px;
    }

    &__wrapper {
      width: 230px;
      height: 215px;
      z-index: 1;
      margin-top: 46px;
      margin-left: 43px;
    }
    &__btn:hover {
      background-image: linear-gradient(to right, #ef062c 100%, #f9236f 100%);
      /*box-shadow: 5px 12px 22px 10px #FA9798;*/
    }

    &__title {
      font-size: 48px;
      font-weight: bold;
      line-height: 41.84px;
      color: #222222;
      letter-spacing: -1.18px;
      margin-bottom: 10px;

      > div:last-child {
        color: #f9236f;
      }
    }

    &__text {
      color: #494949;
      font-size: 16px;
      font-weight: 500;
      line-height: 22px;
      margin-bottom: 30px;
    }

    &__btn {
      color: #ffffff;
      font-size: 20px;
      font-weight: bold;
      width: 156px;
      height: 47px;
      background-color: #000000;
      background-image: linear-gradient(to right, #f9236f 0%, #f92346 100%);
      cursor: pointer;
      border: none;
    }

    &__img {
      z-index: 0;
      position: absolute;
      right: 0;
    }
  }

  .products {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1108px;
    height: 562px;
    margin: 0 auto;
    margin-top: 105px;

    &__title {
      color: #000000;
      font-size: 26px;
      font-weight: 900;
      text-transform: uppercase;
      margin-bottom: 16px;
    }

    &__subtitle {
      color: #000000;
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 22px;
    }

    &__content {
      width: 1108px;
      height: 415px;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-left: 22px;
    }

    &__item {
      width: 249px;
      height: 415px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }

    &__name {
      color: #000000;
      font-size: 18px;
      font-weight: 700;
      line-height: 27px;
    }

    &__brand {
      font-size: 16px;
      margin-bottom: 19px;
    }

    &__rate {
      width: 90px;
      height: 14px;
    }

    .fa {
      color: #ffc808;
      font-size: 15px;
    }

    .fa-star-o {
      color: #ffc808;
    }

    &__price {
      color: #000000;
      font-size: 18px;
      font-weight: 700;
      margin-top: 10px;
    }

    &__price span:first-child {
      color: #6b6b6b;
      text-decoration: line-through;
      font-weight: 400;
    }
  }
}

.latest-news {
  height: 888px;
  background-color: #ffffff;
  background-image: url("../images/latest-news-background.png");
  background-size: cover;
  position: relative;
  bottom: 65px;
  z-index: 0;

  &__container {
    width: 1171px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__heading {
    color: #000000;
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 113px;
  }

  &__info {
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 48px;
  }

  &__content {
    width: 1171px;
    height: 470px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__wrapper {
    margin: 30px 35px 0 30px;
  }

  &__item {
    width: 362px;
    height: 470px;
    background-color: #ffffff;
  }

  &__title {
    color: #515151;
    font-size: 18px;
    font-weight: 700;
  }

  &__subtitle {
    color: #a8a8a8;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 23px;
  }

  &__text {
    color: #494949;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 20px;
  }

  &__btn {
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
    width: 99px;
    height: 30px;
    background-color: #000000;
    background-image: linear-gradient(to right, #f9236f 0%, #f92346 100%);
    border: none;
  }
  &__btn:hover {
    background-image: linear-gradient(to right, #ef062c 100%, #f9236f 100%);
  }

  &__icons {
    float: right;
    position: relative;
    top: 13px;
  }

  .fa {
    font-size: 15px;
    color: #f92349;
    cursor: pointer;
  }
  .fa:hover {
    color: red;
}

  .fa-heart {
    padding-right: 10px;
    border-right: 1px solid #b9b9b9;
  }

  .fa-comment {
    padding-left: 7px;
  }
}

.summer-sale {
  background-image: url("../images/summer-sale-background.png");
  background-size: cover;
  position: relative;
  bottom: 70px;

  &__container {
    width: 1171px;
    margin: 0 auto;
    height: 920px;
    background-color: #ffffff;
    position: relative;
    bottom: 95px;
    z-index: 1;
  }

  &__main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 50px;
  }

  &__content {
    width: 362px;
    height: 585px;
    margin-top: 25px;
  }

  &__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #c2c2c2;
  }

  &__item:last-child {
    border-bottom: none;
  }

  &__wrapper {
    width: 235px;
    height: 127px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    color: #000000;
    font-size: 26px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 45px;
  }

  &__item-name {
    color: #000000;
    font-size: 18px;
    font-weight: 700;
  }

  &__item-brand {
    color: #939393;
    font-size: 17px;
    font-weight: 400;
  }

  .fa {
    color: #ffc808;
    font-size: 15px;
  }

  .fa-star-o {
    color: #ffc808;
  }

  &__item-price {
    color: #f92349;
    font-size: 18px;
    font-weight: 700;
  }

  &__item-price span:first-child {
    color: #6b6b6b;
    font-size: 16px;
    font-weight: 500;
    text-decoration: line-through;
  }
}

.summer-sale__banner {
  width: 312px;
  height: 588px;
  background-image: url("../images/summer-sale-banner-background.png");
  background-size: cover;

  &-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 88px;
  }

  &-text {
    color: #ffffff;
    font-family: 'Bebas Neue', cursive;
    text-align: center;

    span:first-child {
      font-size: 75px;
      line-height: 60.99px;
    }

    span:nth-child(2) {
      font-size: 130px;
      line-height: 98.57px;
    }

    span:nth-child(3) {
      line-height: 49.91px;
      font-size: 64px;
    }

    span:nth-child(4) {
      font-size: 120px;
      line-height: 98.09px;
    }
  }

  &-discount {
    color: #ffffff;
    font-family: 'Bebas Neue', cursive;
    font-size: 134px;
    font-weight: 400;
    border-top: 5px solid #ffffff;
    width: 183px;
  }
}

.subscribe {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-top: 10px;

  &__container {
    width: 1107px;
    height: 269px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-top: 1px solid #c2c2c2;
  }

  &__wrapper {
    width: 654px;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 56px;
  }

  &__title {
    color: #000000;
    font-size: 26px;
    font-weight: 800;
    margin-bottom: 14px;
    margin-top: 70px;
  }

  &__text {
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 34px;
  }

  &__form {
    width: 654px;
    height: 39px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &__form input[type=text] {
    width: 516px;
    height: 38px;
    border: 1px solid #a1a1a1;
    background-color: #ffffff;
  }

  &__form input[type=submit] {
    cursor: pointer;
    width: 121px;
    height: 38px;
    background-color: #000000;
    background-image: linear-gradient(to right, #f9236f 0%, #f92346 100%);
    border: none;
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
    margin-left: 5px;
  }
  &__form input[type=submit]:hover {
    background-image: linear-gradient(to right, #ef062c 100%, #f9236f 100%);
  }
}

.logos {
  height: 309px;
  background-color: #eeeeee;
  position: relative;
  bottom: 254px;
  z-index: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  &__container {
    width: 1171px;
    margin: 0 auto;
    margin-top: 67px;
  }
}

.footer {
  height: 685px;
  background-image: url("../images/footer-background.png");
  background-size: cover;
  margin-top: -255px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    width: 1171px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1126px;
  }

  &__title {
    color: #ffffff;
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 25px;
  }

  &__info {
    width: 249px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 35px;
  }

  &__contacts {
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    line-height: 30px;
  }

  &__column {
    width: 355px;
    height: 280px;
  }

  &__column:last-child {
    width: 268px;
  }

  &__row {
    display: flex;
    width: 562px;
  }

  &__icon {
    margin-right: 8px;
  }

  &__link {
    color: #ffffff;
    font-size: 16px;
    line-height: 40px;
    font-weight: 500;
    cursor: pointer;
  }

  &__socials {
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    cursor: pointer;
  }

  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 274px;
  }

  .fa-facebook, .fa-twitter, .fa-rss, .fa-google-plus, .fa-pinterest-p, .fa-vimeo {
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
  }

  &__social-item span {
    margin-right: 10px;
  }

  &__contain:nth-child(2) {
    margin-top: 54px;
  }

  &__payments {
    opacity: 0.6;
    color: #ffffff;
    font-size: 25px;
    font-weight: 400;
    line-height: 21.56px;
    text-transform: uppercase;
    cursor: pointer;
  }
  .fa {
    cursor: pointer;
  }

  &__payments span {
    margin-right: 8px;
  }

  &__menu {
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
    margin-top: 64px;
  }

  &__menu-list {
    width: 543px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__menu-item {
    display: inline-block;
  }

  &__menu-link {
    cursor: pointer;
  }

  &__copyright {
    margin-top: 39px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
  }

  &__copyright span:first-child {
    padding-right: 8px;
  }

  &__copyright span:last-child {
    padding-left: 10px;
    border-left: 1px solid #ffffff;
  }
}

@media (max-width: 1200px) {
  .top-banner {
    &__container {
      width: 100%;
      padding: 0 40px;
    }
  }
  .meStore {
    &__container {
      width: 100%;
      padding: 0 40px;
    }

    .navbar {
      width: 100%;
    }
  }
  .fashion-carnival {
    height: 930px;

    &__container {
      width: 100%;
      padding: 0 40px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

    &__image {
      display: none;
    }
  }
  .promotion {
    &__container {
      width: 100%;
      padding: 0 40px;
    }

    .benefits {
      &__content {
        width: 100%;
        justify-content: space-evenly;
      }

    }

    .banner {
      &__content {
        width: 100%;
      }

      &__item {
      }
    }

    .products {
      width: 100%;

      &__content {
        width: 100%;
      }

      &__item:nth-child(4) {
        display: none;
      }
    }
  }
  .latest-news {
    &__container {
      width: 100%;
      padding: 0 40px;
    }

    &__content {
      width: 100%;
      padding: 0 40px;
      justify-content: space-evenly;
    }

    &__item {
      width: 250px;
      height: 485px;
    }

    &__image {
      width: 100%;
    }
  }
  .summer-sale {
    &__container {
      width: 100%;
      padding: 0 40px;
    }

    &__content {
      width: 260px;
    }

    &__item-image {
      padding-right: 15px;
    }
  }
  .subscribe {
    &__container {
      width: 100%;
      padding: 0 40px;
    }
  }
  .logos {
    &__container {
      width: 100%;
      padding: 0 40px;
    }

    &__image {
      width: 100%;
    }
  }
  .footer {
    &__container {
      width: 100%;
      padding: 0 40px;
    }

    &__content {
      width: auto;
    }

    &__row {
      width: 425px;
    }

    &__column:first-child {
      width: 400px;
    }

    &__column:nth-child(2) {
      width: 230px;
    }

    &__column:nth-child(3) {
      width: 160px;
    }

    &__payments span {
      margin-right: 0;
    }
  }
}

@media (max-width: 992px) {
  .top-banner {
    &__text {
      font-size: 17px;
    }
    .fa-times {
      padding: 8px 10px;
    }
  }
  .meStore {
    .navbar-collapse {
      justify-content: center;
    }

    .navbar-collapse {
      width: auto;
    }

    .fa {
      padding: 5px 5px 0 5px;
    }
  }
  .promotion {
    &__container {
      height: 1170px;
    }

    .benefits {
      &__title {
        font-size: 24px;
      }

      &__details {
        font-size: 13px;
      }
    }

    .banner {
      &__image {
        width: 100%;
        opacity: 0.3;
        height: fit-content;
      }

      &__item {
        height: 292px;
        background-color: white;
      }

      &__item:first-child {
        margin-right: 30px;
        background-color: #fee3ece3;
      }

      &__item:nth-child(2) {
        background-color: #F2F3F4;
      }

      &__wrapper {
        margin-top: 40px;
      }
      &__img {
        background-color: #ffffff;
      }
    }

    .products {
      margin-top: 90px;

      &__item:nth-child(3) {
        display: none;
      }

      &__content {
        justify-content: space-evenly;
      }
    }
  }
  .latest-news {
    height: 2130px;

    &__heading {
      margin-top: 90px;
    }
  }
  .latest-news {
    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      height: 1765px;
    }

    &__wrapper {
      margin: 30px 35px 20px 30px;
    }

    &__item {
      width: 550px;
      height: auto;
    }
  }
  .summer-sale {
    &__content:last-child {
      display: none;
    }

    .subscribe {
      &__wrapper {
        width: 100%;
      }
    }
  }
  .footer {
    height: auto;

    &__container {
      margin-top: 70px;
      width: 100%;
    }

    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__row {
      width: 562px;
    }

    &__link {
      line-height: 32px;
    }

    &__copyright {
      margin-bottom: 40px;
    }
  }
}

@media (max-width: 767px) {
  .top-banner {
    height: 65px;
  }
  .meStore {
    &__email {
      display: none;
    }

    &__icons {
      width: 55px;
    }

    &__row {
      display: flex;
    }

    &__wrapper {
      width: auto;
    }

    .navbar-collapse {
      position: absolute;
      left: -20px;
      top: 49px;
      width: calc(100% + 40px);
      padding: 0px 20px;
      background-color: rgba(248, 249, 250, 0.53);
      z-index: 100;
    }

    .navbar {
      position: relative;
    }

    .nav-item {
      line-height: 30px;
    }

    &__contain {
      .navbar-toggler {
        border-color: transparent;
        padding: 0;
      }

      .fa-list-ul {
        display: none;
      }
    }
  }
  .fashion-carnival {
    &__content {
      width: 100%;
    }

    &__title {
      font-size: 93px;
    }
  }
  .promotion {
    height: auto;

    &__container {
      height: auto;
    }

    .benefits {
      height: auto;

      &__content {
      }

      &__item {
        width: 132px;
        margin-right: 40px;
      }
      &__item:nth-child(3) {
        margin-right: 0;
      }

      &__icon {
        width: 115px;
        height: 115px;
      }

      &__title {
        font-size: 18px;
      }

      &__details {
        text-align: center;
        line-height: 18px;
      }
    }

    .products {
      &__item:nth-child(2) {
        display: none;
      }
    }

    .banner {
      height: auto;

      &__content {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
      }

      &__item {
        margin: 0 auto;
        width: 100%;
        height: 293px;
      }

      &__item:first-child {
        margin-bottom: 30px;
        background-color: #ffffff;
        border: 1px solid #fee3ece3;
      }
      &__item:nth-child(2) {
        background-color: #ffffff;
        border: 1px solid #F2F3F4;
      }
    }
  }
  .latest-news {
    height: auto;

    &__heading {
      margin-top: 62px;
    }

    &__container {
      height: auto;
    }

    &__content {
      padding: 0;
      height: auto;
    }

    &__item {
      width: 100%;
      margin: 15px 0 20px 0;
      max-width: 550px;
    }

    &__item:last-child {
      margin-bottom: 35px;
    }
  }
  .summer-sale {
    height: auto;
    bottom: -95px;

    &__container {
      height: auto;
    }

    &__content {
      height: auto;
      margin: 0 auto;
      margin-top: 57px;
    }

    &__banner {
      background-image: url("../images/footer-background.png");
      background-size: cover;
      width: 100%;
      max-width: 495px;
      height: auto;
      margin: 0 auto;

      &-wrapper {
        margin-top: 0;
        padding-top: 32px;
      }

      &-text {
        width: 195px;
      }
    }

    &__main {
      display: flex;
      flex-direction: column-reverse;
      padding-top: 0;
    }

    &__title {
      margin-bottom: 10px;
    }

    .subscribe {
      &__wrapper {
        text-align: center;
      }
      &__form {
        width: 100%;
      }
      &__form input[type=submit] {
        width: 30%;
      }
      &__form input[type=text] {
        width: 70%;
      }

      &__title {
        font-size: 24px;
      }

      &__text {
        font-size: 14px;
      }
    }
  }
  .logos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    bottom: 214px;
    padding-bottom: 30px;
    height: 325px;
  }
  .footer {
    &__container {
      max-width: 645px;
    }

    &__wrapper {
      width: max-content;
    }

    &__row {
      width: inherit;
    }

    &__column:first-child {
      width: 280px;
    }

    &__row:nth-child(2) {
      margin-top: 25px;
    }

    &__column {
      width: inherit;
    }

    &__contacts {
      width: 75%;
    }

    &__payments span {
      margin-right: -3px;
    }

    &__menu {
      width: 100%;

      &-list {
        width: 100%;
      }
    }
  }
}

@media (max-width: 576px) {
  .top-banner {
    height: 70px;
    .fa-times {
      padding: 6px 8px;
    }
    &__container {
      padding: 0 20px;
    }

    &__text {
      font-size: 14px;
    }
  }
  .meStore {
    &__container {
      padding: 0 20px;
    }

    &__info {
      font-size: 12px;
    }

    &__options {
      width: 92px;
      font-size: 12px;
    }

    &__logo {
      font-size: 23px;
    }

    .navbar-collapse {
      top: 53px;
    }
  }
  .fashion-carnival {
    &__container {
      padding: 0 20px;
    }

    &__title {
      font-size: 50px;
      line-height: 46.22px;
    }

    &__date {
      padding-left: 32px;
      letter-spacing: 27.79px;
      font-size: 32px;
    }

    &__text {
      font-size: 13px;
      line-height: 22px;
    }

    &__btn {
      font-size: 18px;
    }
  }
  .promotion {
    &__container {
      padding: 0 20px;
    }

    .benefits {
      margin-bottom: -40px;

      &__content {
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      &__icon {
        border: 1px solid #80808061;
      }

      &__item {
        height: 200px;
        margin-right: 0;
      }

      &__title {
        margin-top: 11px;
      }

      &__details {
        margin-top: 8px;
      }
    }

    .banner {
      &__wrapper {
      }

      &__image {
      }

      &__title {
        font-size: 34px;
        line-height: 32.84px;
      }

      &__text {
        font-size: 13px;
      }

      &__btn {
        font-size: 17px;
      }

      &__item:first-child {
        background-color: #fee3ece3;
        margin-bottom: 22px;
      }

      &__item:nth-child(2) {
        background-color: #F2F3F4;
      }

      &__img {
        background-color: #ffffff;
      }

      &__item {
        height: 292px;
        border: transparent;
      }
    }

    .products {
      text-align: center;
      margin-top: 37px;

      &__title {
        font-size: 23px;
      }

      &__subtitle {
        font-size: 14px;
      }
    }
  }
  .latest-news {
    &__info {
      font-size: 14px;
      text-align: center;
      margin-bottom: 30px;
    }

    &__title {
      font-size: 19px;
    }

    &__heading {
      margin-top: 35px;
    }

    &__subtitle {
      font-size: 15px;
      margin-top: 5px;
      margin-bottom: 12px;
    }

    &__text {
      font-size: 13px;
    }

    &__container {
      padding: 0 20px;
    }
  }
  .summer-sale {
    &__container {
      padding: 0 20px;
      bottom: 127px;
    }

    &__content {
      margin-top: 50px;
    }

    &__title {
      margin-bottom: 0;
    }

    .subscribe {
      &__container {
        height: auto;
        padding: 0 20px;
      }

      &__title {
        margin-top: 45px;
        font-size: 20px;
      }

      &__text {
        font-size: 12px;
        margin-bottom: 23px;
      }

      &__form {
        height: 85px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
      }

      &__form input[type=text] {
        width: 100%;
      }

      &__form input[type=submit] {
        width: 100%;
        margin-left: 0;
        margin-top: 7px;
      }
    }
  }
  .logos {
    padding-bottom: 51px;

    &__container {
      padding: 0 20px;
    }
  }
  .footer {
    &__title {
      margin-bottom: 5px;
      font-size: 18px;
    }

    &__info {
      font-size: 11px;
      line-height: 22px;
      margin-bottom: 11px;
    }

    &__contacts {
      font-size: 11px;
      line-height: 24px;
    }

    &__link {
      font-size: 12px;
      line-height: 23px;
    }

    &__container {
      padding: 0 20px;
    }

    &__content {
      padding: 0 20px;
      align-items: flex-start;
      height: 750px;
    }

    &__menu {
      display: none;
    }

    &__row {
      display: flex;
      flex-direction: column;
    }

    &__column:first-child {
      width: auto;
      height: auto;
    }

    &__column:nth-child(2) {
      width: auto;
      height: 280px;
      padding-top: 15px;
    }

    &__row:nth-child(2) {
      margin-top: -110px;
    }

    &__copyright {
      font-size: 12px;
      margin-top: 0;
      margin-bottom: 25px;
    }

    .fa-facebook, .fa-twitter, .fa-rss, .fa-google-plus, .fa-pinterest-p, .fa-vimeo {
      font-size: 13px;
    }

    &__socials {
      font-size: 12px;
      line-height: 20px;
    }

    &__contain:nth-child(2) {
      margin-top: 22px;
    }
  }
}

@media (max-width: 399px) {
  .top-banner {
    .fa-times {
      padding: 3px 5px;
    }
  }
  .promotion {
    .banner {

      &__image {
        display: none;
      }

      &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      &__item:first-child {
        background-color: #f9236f3d;
      }

      &__item:nth-child(2) {
        background-color: #0062cc59;
      }

      &__wrapper {
        text-align: center;
        margin: 0;
      }

      &__btn:nth-child(2) {
        background-image: linear-gradient(to right, #4694e2 0%, #1874d0 100%);
      }
    }
  }
  .latest-news {
    &__title {
      font-size: 15px;
      text-align: center;
    }

    &__subtitle {
      font-size: 12px;
      text-align: center;
      margin-top: 6px;
      margin-bottom: 12px;
    }
  }
  .logos {
    padding-bottom: 57px;
  }
  .footer {
    /*&__info {
      font-size: 13px;
    }
    &__contacts {
      font-size: 12px;
    }
    &__link {
      font-size: 13px;
      line-height: 30px;
    }
    &__socials {
      font-size: 13px;
    }
    &__copyright {
      font-size: 11px;
    }*/
  }
}




