*, *::after, *::before {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.top-banner {
  height: 74px;
  background: linear-gradient(to right, #f9236f 0%, #f92346 100%), url("../images/top-banner-background.png");
  background-blend-mode: overlay;
  background-size: cover;

  &__container {
    width: 1171px;
    height: 74px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__text {
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
  }
}

.meStore {
  height: 121px;
  background-color: #f8f9fa87;
  z-index: 1;
  position: relative;

  &__container {
    width: 1171px;
    margin: 0 auto;
  }

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ADADAD;
  }

  &__info {
    width: 443px;
    color: #222222;
    font-size: 15px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__options {
    width: 77px;
    color: #222222;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__logo {
    color: #222222;
    font-size: 26px;
    font-weight: bold;
  }

  &__contain {
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__icons {
    width: 115px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 20px;
  }

  .fa {
    color: #222222;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 5px;
  }

  .top-menu {
    &__link {
      color: #222222 !important;
      font-size: 16px;
      font-weight: 700;
    }
  }

  .navbar {
    padding: 0;
    width: 1175px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .navbar-brand {
    padding: 0;
  }

  .nav-link {
    padding-bottom: 0;
    padding-top: 0;
  }

  .navbar-collapse {
    width: 900px;
    justify-content: flex-end;
  }
}

.fashion-carnival {
  height: 1057px;
  background-image: url("../images/fashion-carnival-background.png"), url("../images/fashion-carnival-image.png");
  background-blend-mode: overlay;
  background-size: cover;
  margin-top: -121px;

  &__container {
    width: 1171px;
    padding-top: 200px;
    margin: 0 auto;
    display: flex;
  }

  &__content {
    width: 612px;
    height: 446px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 262px;
    z-index: 1;
  }

  &__title {
    color: #f9236f;
    font-size: 121px;
    font-weight: bold;
    line-height: 94.22px;
    text-transform: uppercase;
    letter-spacing: -1.18px;
    text-align: center;
  }

  &__title p:first-child {
    color: #222222;
  }

  &__date {
    color: #222222;
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 92.79px;
    text-align: center;
    width: 385px;;
  }

  &__text {
    color: #494949;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    margin-top: 30px;
  }

  &__btn {
    width: 156px;
    height: 47px;
    background-image: linear-gradient(to right, #f9236f 0%, #f92346 100%);
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    margin-top: 57px;
  }

  &__image {
    position: relative;
    right: 151px;
    bottom: 17px;
  }
}

.promotion {
  height: 1160px;
  background-image: url("../images/promotion-background.png");
  background-size: cover;

  &__container {
    width: 1171px;
    height: 1220px;
    background-color: #ffffff;
    margin: 0 auto;
    position: relative;
    bottom: 60px;
    z-index: 1;
  }

  .benefits {
    &__content {
      width: 955px;
      height: 170px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 0 auto;
      position: relative;
      bottom: 50px;
    }

    &__item {
      width: 224px;
      height: 170px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }

    &__icon {
      width: 126px;
      height: 126px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background-color: #ffffff;
    }

    &__title {
      color: #000000;
      font-size: 30px;
      font-weight: bold;
      margin-top: -17px;
    }

    &__details {
      color: #000000;
      font-size: 16px;
      font-weight: 500;
      margin-top: 15px;
    }

    .fa {
      color: #5c5c5c;
      font-size: 50px;
      font-weight: 400;
    }
  }

  .banner {
    &__content {
      width: 1108px;
      height: 292px;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    &__item {
      width: 536px;
      height: 292px;
      background-color: #d7eff9;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      position: relative;
    }

    &__item:first-child {
      margin-right: 35px;
    }

    &__wrapper {
      width: 230px;
      height: 215px;
      z-index: 1;
      margin-top: 46px;
      margin-left: 43px;
    }

    &__title {
      font-size: 48px;
      font-weight: bold;
      line-height: 41.84px;
      color: #222222;
      letter-spacing: -1.18px;
      margin-bottom: 10px;

      > div:last-child {
        color: #f9236f;
      }
    }

    &__text {
      color: #494949;
      font-size: 16px;
      font-weight: 500;
      line-height: 22px;
      margin-bottom: 30px;
    }

    &__btn {
      color: #ffffff;
      font-size: 20px;
      font-weight: bold;
      width: 156px;
      height: 47px;
      background-color: #000000;
      background-image: linear-gradient(to right, #f9236f 0%, #f92346 100%);
      cursor: pointer;
      border: none;
    }

    &__img {
      z-index: 0;
      position: absolute;
      right: 0;
    }
  }

  .products {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1108px;
    height: 562px;
    margin: 0 auto;
    margin-top: 105px;

    &__title {
      color: #000000;
      font-size: 26px;
      font-weight: 900;
      text-transform: uppercase;
      margin-bottom: 16px;
    }

    &__subtitle {
      color: #000000;
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 22px;
    }

    &__content {
      width: 1108px;
      height: 415px;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    &__item {
      width: 249px;
      height: 415px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }

    &__name {
      color: #000000;
      font-size: 18px;
      font-weight: 700;
      line-height: 27px;
    }

    &__brand {
      font-size: 16px;
      margin-bottom: 19px;
    }

    &__rate {
      width: 90px;
      height: 14px;
    }

    .fa {
      color: #ffc808;
      font-size: 15px;
    }

    .fa-star-o {
      color: #ffc808;
    }

    &__price {
      color: #000000;
      font-size: 18px;
      font-weight: 700;
      margin-top: 10px;
    }

    &__price span:first-child {
      color: #6b6b6b;
      text-decoration: line-through;
      font-weight: 400;
    }
  }
}

.latest-news {
  height: 888px;
  background-color: #ffffff;
  background-image: url("../images/latest-news-background.png");
  background-size: cover;
  position: relative;
  bottom: 65px;
  z-index: 0;

  &__container {
    width: 1171px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__heading {
    color: #000000;
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 113px;
  }

  &__info {
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 48px;
  }

  &__content {
    width: 1171px;
    height: 470px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__wrapper {
    margin: 30px 35px 0 30px;
  }

  &__item {
    width: 362px;
    height: 470px;
    background-color: #ffffff;
  }

  &__title {
    color: #515151;
    font-size: 18px;
    font-weight: 700;
  }

  &__subtitle {
    color: #a8a8a8;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 23px;
  }

  &__text {
    color: #494949;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 20px;
  }

  &__btn {
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
    width: 99px;
    height: 30px;
    background-color: #000000;
    background-image: linear-gradient(to right, #f9236f 0%, #f92346 100%);
    border: none;
  }

  &__icons {
    float: right;
    position: relative;
    top: 15px;
  }

  .fa {
    font-size: 15px;
    color: #f92349;
  }

  .fa-heart {
    padding-right: 10px;
    border-right: 1px solid #b9b9b9;
  }

  .fa-comment {
    padding-left: 7px;
  }
}

.summer-sale {
  background-image: url("../images/summer-sale-background.png");
  background-size: cover;
  position: relative;
  bottom: 70px;

  &__container {
    width: 1171px;
    margin: 0 auto;
    height: 920px;
    background-color: #ffffff;
    position: relative;
    bottom: 95px;
    z-index: 1;
  }

  &__main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 50px;
  }

  &__content {
    width: 362px;
    height: 585px;
    margin-top: 25px;
  }

  &__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #c2c2c2;
  }

  &__item:last-child {
    border-bottom: none;
  }

  &__wrapper {
    width: 235px;
    height: 127px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    color: #000000;
    font-size: 26px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 45px;
  }

  &__item-name {
    color: #000000;
    font-size: 18px;
    font-weight: 700;
  }

  &__item-brand {
    color: #939393;
    font-size: 17px;
    font-weight: 400;
  }

  .fa {
    color: #ffc808;
    font-size: 15px;
  }

  .fa-star-o {
    color: #ffc808;
  }

  &__item-price {
    color: #f92349;
    font-size: 18px;
    font-weight: 700;
  }

  &__item-price span:first-child {
    color: #6b6b6b;
    font-size: 16px;
    font-weight: 500;
    text-decoration: line-through;
  }
}

.summer-sale__banner {
  width: 312px;
  height: 588px;
  background-image: url("../images/summer-sale-banner-background.png");
  background-size: cover;

  &-wrapper {
    margin: 88px 56px 80px 62px;
  }

  &-text {
    color: #ffffff;
    font-family: 'Bebas Neue', cursive;

    span:first-child {
      font-size: 75px;
      line-height: 60.99px;
    }

    span:nth-child(2) {
      font-size: 130px;
      line-height: 98.57px;
    }

    span:nth-child(3) {
      line-height: 49.91px;
      font-size: 64px;
    }

    span:nth-child(4) {
      font-size: 120px;
      line-height: 98.09px;
    }
  }

  &-discount {
    color: #ffffff;
    font-family: 'Bebas Neue', cursive;
    font-size: 134px;
    font-weight: 400;
    border-top: 5px solid #ffffff;
    width: 183px;
  }
}

.subscribe {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-top: 10px;

  &__container {
    width: 1107px;
    height: 269px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-top: 1px solid #c2c2c2;
  }

  &__wrapper {
    width: 654px;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 56px;
  }

  &__title {
    color: #000000;
    font-size: 26px;
    font-weight: 800;
    margin-bottom: 14px;
    margin-top: 70px;
  }

  &__text {
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 34px;
  }

  &__form input[type=text] {
    width: 516px;
    height: 38px;
    border: 1px solid #a1a1a1;
    background-color: #ffffff;
  }

  &__form input[type=submit] {
    cursor: pointer;
    width: 121px;
    height: 38px;
    background-color: #000000;
    background-image: linear-gradient(to right, #f9236f 0%, #f92346 100%);
    border: none;
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
    margin-left: 5px;
  }
}

.logos {
  height: 309px;
  background-color: #eeeeee;
  position: relative;
  bottom: 254px;
  z-index: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  &__container {
    width: 1171px;
    margin: 0 auto;
    margin-top: 67px;
  }
}

.footer {
  height: 685px;
  background-image: url("../images/footer-background.png");
  background-size: cover;
  margin-top: -255px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    width: 1171px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1126px;
  }

  &__title {
    color: #ffffff;
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 25px;
  }

  &__info {
    width: 249px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 35px;
  }

  &__contacts {
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    line-height: 30px;
  }

  &__column {
    width: 355px;
    height: 280px;
  }

  &__column:last-child {
    width: 268px;
  }

  &__row {
    display: flex;
    width: 562px;
  }

  &__icon {
    margin-right: 8px;
  }

  &__link {
    color: #ffffff;
    font-size: 16px;
    line-height: 40px;
    font-weight: 500;
  }

  &__socials {
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
  }

  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 274px;
  }

  .fa-facebook, .fa-twitter, .fa-rss, .fa-google-plus, .fa-pinterest-p, .fa-vimeo {
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
  }

  &__social-item span {
    margin-right: 10px;
  }

  &__contain:nth-child(2) {
    margin-top: 54px;
  }

  &__payments {
    opacity: 0.6;
    color: #ffffff;
    font-size: 25px;
    font-weight: 400;
    line-height: 21.56px;
    text-transform: uppercase;
  }

  &__payments span {
    margin-right: 8px;
  }

  &__menu {
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
    margin-top: 64px;
  }

  &__menu-list {
    width: 543px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__menu-item {
    display: inline-block;
  }

  &__menu-link {
    cursor: pointer;
  }

  &__copyright {
    margin-top: 39px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
  }

  &__copyright span:first-child {
    padding-right: 8px;
  }

  &__copyright span:last-child {
    padding-left: 10px;
    border-left: 1px solid #ffffff;
  }
}

@media (max-width: 1200px) {
  .top-banner {
    &__container {
      width: 100%;
      padding: 0 40px;
    }
  }
  .meStore {
    &__container {
      width: 100%;
      padding: 0 40px;
    }

    .navbar {
      width: 100%;
    }
  }
  .fashion-carnival {
    height: 930px;

    &__container {
      width: 100%;
      padding: 0 40px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

    &__image {
      display: none;
    }
  }
  .promotion {
    &__container {
      width: 100%;
      padding: 0 40px;
    }

    .benefits {
      &__content {
        width: 100%;
      }
    }

    .banner {
      &__content {
        width: 100%;
      }

      &__item {
        width: 440px;
      }
    }

    .products {
      width: 100%;

      &__content {
        width: 100%;
      }

      &__item:nth-child(4) {
        display: none;
      }
    }
  }
  .latest-news {
    &__container {
      width: 100%;
      padding: 0 40px;
    }

    &__content {
      width: 100%;
      padding: 0 40px;
      justify-content: space-evenly;
    }

    &__item {
      width: 250px;
      height: 485px;
    }

    &__image {
      width: 100%;
    }
  }
  .summer-sale {
    &__container {
      width: 100%;
      padding: 0 40px;
    }

    &__content {
      width: 260px;
    }

    &__item-image {
      padding-right: 15px;
    }
  }
  .subscribe {
    &__container {
      width: 100%;
      padding: 0 40px;
    }
  }
  .logos {
    &__container {
      width: 100%;
      padding: 0 40px;
    }

    &__image {
      width: 100%;
    }
  }
  .footer {
    &__container {
      width: 100%;
      padding: 0 40px;
    }

    &__content {
      width: 100%;
    }

    &__column:nth-child(2) {
      width: 230px;
    }

    &__column:nth-child(3) {
      width: 160px;
    }

    &__payments span {
      margin-right: 0;
    }
  }
}

@media (max-width: 992px) {
  .top-banner {
    &__text {
      font-size: 17px;
    }
  }
  .meStore {
    .navbar-collapse {
      justify-content: center;
    }

    .fa {
      padding: 5px 5px 0 5px;
    }
  }
  .promotion {
    &__container {
      height: 1170px;
    }

    .benefits {
      &__title {
        font-size: 27px;
      }

      &__details {
        font-size: 14px;
      }
    }

    .banner {
      &__image {
        width: 100%;
        opacity: 0.3;
        height: fit-content;
      }

      &__item {
        width: 335px;
        height: 278px;
        background-color: white;
      }

      &__item:first-child {
        margin-right: 30px;
      }

      &__wrapper {
        margin-top: 40px;
      }
    }

    .products {
      margin-top: 90px;

      &__item:nth-child(3) {
        display: none;
      }

      &__content {
        justify-content: space-evenly;
      }
    }
  }
  .latest-news {
    height: 2130px;

    &__heading {
      margin-top: 90px;
    }
  }
  .latest-news {
    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      height: 1765px;
    }

    &__wrapper {
      margin: 30px 35px 20px 30px;
    }

    &__item {
      width: 550px;
      height: auto;
    }
  }
  .summer-sale {
    &__content:last-child {
      display: none;
    }

    .subscribe {
      &__wrapper {
        width: 100%;
      }

      &__form input[type=text] {
        width: auto;
      }
    }
  }
  .footer {
    height: auto;

    &__container {
      margin-top: 70px;
    }

    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__link {
      line-height: 32px;
    }

    &__copyright {
      margin-bottom: 40px;
    }
  }
}

@media (max-width: 768px) {
  .meStore {
    &__email {
      display: none;
    }
  }
  .fashion-carnival {
    &__content {
      width: 100%;
    }

    &__title {
      font-size: 93px;
    }
  }
  .promotion {
    height: auto;
    &__container {
      height: auto;
    }
    .benefits {
      height: auto;
      &__icon {
        width: 115px;
        height: 115px;
      }
      &__title {
        font-size: 20px;
      }
      &__details {
        text-align: center;
        line-height: 18px;
      }
    }
    .products {
      &__item:nth-child(2) {
        display: none;
      }
    }
    .banner {
      height: auto;
      &__content {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
      }
      &__item {
        margin: 0 auto;
        width: 100%;
      }
      &__item:first-child {
        margin-bottom: 30px;
      }
    }
  }
  .latest-news {
    height: 2005px;
    &__heading {
      margin-top: 62px;
    }
    &__content {
      padding: 0;
      height: 1675px;
    }
    &__item {
      width: 100%;
      margin: 10px;
    }
  }
}

@media (max-width: 576px) {

}




