*, *::after, *::before {
  box-sizing: border-box; }

body {
  font-family: 'Montserrat', sans-serif; }

.top-banner {
  height: 74px;
  background: linear-gradient(to right, #f9236f 0%, #f92346 100%), url("../images/top-banner-background.png");
  background-blend-mode: overlay;
  background-size: cover; }
  .top-banner__container {
    width: 1171px;
    height: 74px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center; }
  .top-banner__text {
    color: #ffffff;
    font-size: 20px;
    font-weight: 700; }

.meStore {
  height: 121px;
  background-color: #f8f9fa87;
  position: relative; }
  .meStore__container {
    width: 1171px;
    margin: 0 auto; }
  .meStore__wrapper {
    display: flex;
    flex-direction: row-reverse;
    width: 795px; }
  .meStore__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ADADAD; }
  .meStore__info {
    width: 443px;
    color: #222222;
    font-size: 15px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  .meStore__options {
    width: 77px;
    color: #222222;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  .meStore__logo {
    color: #222222;
    font-size: 26px;
    font-weight: bold; }
  .meStore__contain {
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  .meStore__icons {
    width: 115px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 20px; }
  .meStore .fa {
    color: #222222;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 5px;
    cursor: pointer; }
  .meStore .fa:hover {
    transform: scale(1.4, 1.4); }
  .meStore .top-menu__link {
    color: #222222 !important;
    font-size: 16px;
    font-weight: 700; }
  .meStore .navbar {
    padding: 0;
    width: 1175px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  .meStore .navbar-brand {
    padding: 0; }
  .meStore .nav-link {
    padding-bottom: 0;
    padding-top: 0; }
  .meStore .nav-link:hover {
    transform: scale(1.2, 1.2);
    color: #1874d0; }
  .meStore .navbar-collapse {
    width: 900px; }

.fashion-carnival {
  height: 1057px;
  background-image: url("../images/fashion-carnival-background.png"), url("../images/fashion-carnival-image.png");
  background-blend-mode: overlay;
  background-size: cover;
  margin-top: -121px;
  overflow: hidden; }
  .fashion-carnival__container {
    width: 1171px;
    padding-top: 200px;
    margin: 0 auto;
    display: flex; }
  .fashion-carnival__content {
    width: 612px;
    height: 446px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 262px;
    z-index: 1; }
  .fashion-carnival__title {
    color: #f9236f;
    font-size: 121px;
    font-weight: bold;
    line-height: 94.22px;
    text-transform: uppercase;
    letter-spacing: -1.18px;
    text-align: center; }
  .fashion-carnival__title p:first-child {
    color: #222222; }
  .fashion-carnival__date {
    color: #222222;
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 92.79px;
    text-align: center;
    width: 385px; }
  .fashion-carnival__text {
    color: #494949;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    margin-top: 30px; }
  .fashion-carnival__btn {
    width: 156px;
    height: 47px;
    background-image: linear-gradient(to right, #f9236f 0%, #f92346 100%);
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    margin-top: 57px; }
  .fashion-carnival__btn:hover {
    background-image: linear-gradient(to right, #ef062c 100%, #f9236f 100%);
    /*box-shadow: 5px 12px 22px 10px #FA9798;*/ }
  .fashion-carnival__image {
    position: relative;
    right: 151px;
    bottom: 17px; }

.promotion {
  height: 1160px;
  background-image: url("../images/promotion-background.png");
  background-size: cover; }
  .promotion__container {
    width: 1171px;
    height: 1220px;
    background-color: #ffffff;
    margin: 0 auto;
    position: relative;
    bottom: 60px;
    z-index: 1; }
  .promotion .benefits__content {
    width: 955px;
    height: 170px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    position: relative;
    bottom: 50px; }
  .promotion .benefits__item {
    width: 224px;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; }
  .promotion .benefits__icon {
    width: 126px;
    height: 126px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #ffffff; }
  .promotion .benefits__title {
    color: #000000;
    font-size: 30px;
    font-weight: bold;
    margin-top: -17px; }
  .promotion .benefits__details {
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    margin-top: 15px; }
  .promotion .benefits .fa {
    color: #5c5c5c;
    font-size: 50px;
    font-weight: 400; }
  .promotion .banner__content {
    width: 1108px;
    height: 292px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center; }
  .promotion .banner__item {
    width: 536px;
    height: 292px;
    background-color: #d7eff9;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative; }
  .promotion .banner__item:first-child {
    margin-right: 35px; }
  .promotion .banner__wrapper {
    width: 230px;
    height: 215px;
    z-index: 1;
    margin-top: 46px;
    margin-left: 43px; }
  .promotion .banner__btn:hover {
    background-image: linear-gradient(to right, #ef062c 100%, #f9236f 100%);
    /*box-shadow: 5px 12px 22px 10px #FA9798;*/ }
  .promotion .banner__title {
    font-size: 48px;
    font-weight: bold;
    line-height: 41.84px;
    color: #222222;
    letter-spacing: -1.18px;
    margin-bottom: 10px; }
    .promotion .banner__title > div:last-child {
      color: #f9236f; }
  .promotion .banner__text {
    color: #494949;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 30px; }
  .promotion .banner__btn {
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    width: 156px;
    height: 47px;
    background-color: #000000;
    background-image: linear-gradient(to right, #f9236f 0%, #f92346 100%);
    cursor: pointer;
    border: none; }
  .promotion .banner__img {
    z-index: 0;
    position: absolute;
    right: 0; }
  .promotion .products {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1108px;
    height: 562px;
    margin: 0 auto;
    margin-top: 105px; }
    .promotion .products__title {
      color: #000000;
      font-size: 26px;
      font-weight: 900;
      text-transform: uppercase;
      margin-bottom: 16px; }
    .promotion .products__subtitle {
      color: #000000;
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 22px; }
    .promotion .products__content {
      width: 1108px;
      height: 415px;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
    .promotion .products__item {
      width: 249px;
      height: 415px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center; }
    .promotion .products__name {
      color: #000000;
      font-size: 18px;
      font-weight: 700;
      line-height: 27px; }
    .promotion .products__brand {
      font-size: 16px;
      margin-bottom: 19px; }
    .promotion .products__rate {
      width: 90px;
      height: 14px; }
    .promotion .products .fa {
      color: #ffc808;
      font-size: 15px; }
    .promotion .products .fa-star-o {
      color: #ffc808; }
    .promotion .products__price {
      color: #000000;
      font-size: 18px;
      font-weight: 700;
      margin-top: 10px; }
    .promotion .products__price span:first-child {
      color: #6b6b6b;
      text-decoration: line-through;
      font-weight: 400; }

.latest-news {
  height: 888px;
  background-color: #ffffff;
  background-image: url("../images/latest-news-background.png");
  background-size: cover;
  position: relative;
  bottom: 65px;
  z-index: 0; }
  .latest-news__container {
    width: 1171px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .latest-news__heading {
    color: #000000;
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 113px; }
  .latest-news__info {
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 48px; }
  .latest-news__content {
    width: 1171px;
    height: 470px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  .latest-news__wrapper {
    margin: 30px 35px 0 30px; }
  .latest-news__item {
    width: 362px;
    height: 470px;
    background-color: #ffffff; }
  .latest-news__title {
    color: #515151;
    font-size: 18px;
    font-weight: 700; }
  .latest-news__subtitle {
    color: #a8a8a8;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 23px; }
  .latest-news__text {
    color: #494949;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 20px; }
  .latest-news__btn {
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
    width: 99px;
    height: 30px;
    background-color: #000000;
    background-image: linear-gradient(to right, #f9236f 0%, #f92346 100%);
    border: none; }
  .latest-news__btn:hover {
    background-image: linear-gradient(to right, #ef062c 100%, #f9236f 100%); }
  .latest-news__icons {
    float: right;
    position: relative;
    top: 13px; }
  .latest-news .fa {
    font-size: 15px;
    color: #f92349;
    cursor: pointer; }
  .latest-news .fa:hover {
    color: red; }
  .latest-news .fa-heart {
    padding-right: 10px;
    border-right: 1px solid #b9b9b9; }
  .latest-news .fa-comment {
    padding-left: 7px; }

.summer-sale {
  background-image: url("../images/summer-sale-background.png");
  background-size: cover;
  position: relative;
  bottom: 70px; }
  .summer-sale__container {
    width: 1171px;
    margin: 0 auto;
    height: 920px;
    background-color: #ffffff;
    position: relative;
    bottom: 95px;
    z-index: 1; }
  .summer-sale__main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 50px; }
  .summer-sale__content {
    width: 362px;
    height: 585px;
    margin-top: 25px; }
  .summer-sale__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #c2c2c2; }
  .summer-sale__item:last-child {
    border-bottom: none; }
  .summer-sale__wrapper {
    width: 235px;
    height: 127px;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .summer-sale__title {
    color: #000000;
    font-size: 26px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 45px; }
  .summer-sale__item-name {
    color: #000000;
    font-size: 18px;
    font-weight: 700; }
  .summer-sale__item-brand {
    color: #939393;
    font-size: 17px;
    font-weight: 400; }
  .summer-sale .fa {
    color: #ffc808;
    font-size: 15px; }
  .summer-sale .fa-star-o {
    color: #ffc808; }
  .summer-sale__item-price {
    color: #f92349;
    font-size: 18px;
    font-weight: 700; }
  .summer-sale__item-price span:first-child {
    color: #6b6b6b;
    font-size: 16px;
    font-weight: 500;
    text-decoration: line-through; }

.summer-sale__banner {
  width: 312px;
  height: 588px;
  background-image: url("../images/summer-sale-banner-background.png");
  background-size: cover; }
  .summer-sale__banner-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 88px; }
  .summer-sale__banner-text {
    color: #ffffff;
    font-family: 'Bebas Neue', cursive;
    text-align: center; }
    .summer-sale__banner-text span:first-child {
      font-size: 75px;
      line-height: 60.99px; }
    .summer-sale__banner-text span:nth-child(2) {
      font-size: 130px;
      line-height: 98.57px; }
    .summer-sale__banner-text span:nth-child(3) {
      line-height: 49.91px;
      font-size: 64px; }
    .summer-sale__banner-text span:nth-child(4) {
      font-size: 120px;
      line-height: 98.09px; }
  .summer-sale__banner-discount {
    color: #ffffff;
    font-family: 'Bebas Neue', cursive;
    font-size: 134px;
    font-weight: 400;
    border-top: 5px solid #ffffff;
    width: 183px; }

.subscribe {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-top: 10px; }
  .subscribe__container {
    width: 1107px;
    height: 269px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-top: 1px solid #c2c2c2; }
  .subscribe__wrapper {
    width: 654px;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 56px; }
  .subscribe__title {
    color: #000000;
    font-size: 26px;
    font-weight: 800;
    margin-bottom: 14px;
    margin-top: 70px; }
  .subscribe__text {
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 34px; }
  .subscribe__form {
    width: 654px;
    height: 39px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; }
  .subscribe__form input[type=text] {
    width: 516px;
    height: 38px;
    border: 1px solid #a1a1a1;
    background-color: #ffffff; }
  .subscribe__form input[type=submit] {
    cursor: pointer;
    width: 121px;
    height: 38px;
    background-color: #000000;
    background-image: linear-gradient(to right, #f9236f 0%, #f92346 100%);
    border: none;
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
    margin-left: 5px; }
  .subscribe__form input[type=submit]:hover {
    background-image: linear-gradient(to right, #ef062c 100%, #f9236f 100%); }

.logos {
  height: 309px;
  background-color: #eeeeee;
  position: relative;
  bottom: 254px;
  z-index: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .logos__container {
    width: 1171px;
    margin: 0 auto;
    margin-top: 67px; }

.footer {
  height: 685px;
  background-image: url("../images/footer-background.png");
  background-size: cover;
  margin-top: -255px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .footer__container {
    width: 1171px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .footer__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1126px; }
  .footer__title {
    color: #ffffff;
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 25px; }
  .footer__info {
    width: 249px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 35px; }
  .footer__contacts {
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    line-height: 30px; }
  .footer__column {
    width: 355px;
    height: 280px; }
  .footer__column:last-child {
    width: 268px; }
  .footer__row {
    display: flex;
    width: 562px; }
  .footer__icon {
    margin-right: 8px; }
  .footer__link {
    color: #ffffff;
    font-size: 16px;
    line-height: 40px;
    font-weight: 500; }
  .footer__socials {
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px; }
  .footer__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 274px; }
  .footer .fa-facebook, .footer .fa-twitter, .footer .fa-rss, .footer .fa-google-plus, .footer .fa-pinterest-p, .footer .fa-vimeo {
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase; }
  .footer__social-item span {
    margin-right: 10px; }
  .footer__contain:nth-child(2) {
    margin-top: 54px; }
  .footer__payments {
    opacity: 0.6;
    color: #ffffff;
    font-size: 25px;
    font-weight: 400;
    line-height: 21.56px;
    text-transform: uppercase; }
  .footer__payments span {
    margin-right: 8px; }
  .footer__menu {
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
    margin-top: 64px; }
  .footer__menu-list {
    width: 543px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  .footer__menu-item {
    display: inline-block; }
  .footer__menu-link {
    cursor: pointer; }
  .footer__copyright {
    margin-top: 39px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    line-height: 30px; }
  .footer__copyright span:first-child {
    padding-right: 8px; }
  .footer__copyright span:last-child {
    padding-left: 10px;
    border-left: 1px solid #ffffff; }

@media (max-width: 1200px) {
  .top-banner__container {
    width: 100%;
    padding: 0 40px; }

  .meStore__container {
    width: 100%;
    padding: 0 40px; }
  .meStore .navbar {
    width: 100%; }

  .fashion-carnival {
    height: 930px; }
    .fashion-carnival__container {
      width: 100%;
      padding: 0 40px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
    .fashion-carnival__image {
      display: none; }

  .promotion__container {
    width: 100%;
    padding: 0 40px; }
  .promotion .benefits__content {
    width: 100%;
    justify-content: space-evenly; }
  .promotion .banner__content {
    width: 100%; }
  .promotion .products {
    width: 100%; }
    .promotion .products__content {
      width: 100%; }
    .promotion .products__item:nth-child(4) {
      display: none; }

  .latest-news__container {
    width: 100%;
    padding: 0 40px; }
  .latest-news__content {
    width: 100%;
    padding: 0 40px;
    justify-content: space-evenly; }
  .latest-news__item {
    width: 250px;
    height: 485px; }
  .latest-news__image {
    width: 100%; }

  .summer-sale__container {
    width: 100%;
    padding: 0 40px; }
  .summer-sale__content {
    width: 260px; }
  .summer-sale__item-image {
    padding-right: 15px; }

  .subscribe__container {
    width: 100%;
    padding: 0 40px; }

  .logos__container {
    width: 100%;
    padding: 0 40px; }
  .logos__image {
    width: 100%; }

  .footer__container {
    width: 100%;
    padding: 0 40px; }
  .footer__content {
    width: auto; }
  .footer__row {
    width: 425px; }
  .footer__column:first-child {
    width: 400px; }
  .footer__column:nth-child(2) {
    width: 230px; }
  .footer__column:nth-child(3) {
    width: 160px; }
  .footer__payments span {
    margin-right: 0; } }
@media (max-width: 992px) {
  .top-banner__text {
    font-size: 17px; }

  .meStore .navbar-collapse {
    justify-content: center; }
  .meStore .navbar-collapse {
    width: auto; }
  .meStore .fa {
    padding: 5px 5px 0 5px; }

  .promotion__container {
    height: 1170px; }
  .promotion .benefits__title {
    font-size: 24px; }
  .promotion .benefits__details {
    font-size: 13px; }
  .promotion .banner__image {
    width: 100%;
    opacity: 0.3;
    height: fit-content; }
  .promotion .banner__item {
    height: 292px;
    background-color: white; }
  .promotion .banner__item:first-child {
    margin-right: 30px;
    background-color: #fee3ece3; }
  .promotion .banner__item:nth-child(2) {
    background-color: #F2F3F4; }
  .promotion .banner__wrapper {
    margin-top: 40px; }
  .promotion .banner__img {
    background-color: #ffffff; }
  .promotion .products {
    margin-top: 90px; }
    .promotion .products__item:nth-child(3) {
      display: none; }
    .promotion .products__content {
      justify-content: space-evenly; }

  .latest-news {
    height: 2130px; }
    .latest-news__heading {
      margin-top: 90px; }

  .latest-news__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 1765px; }
  .latest-news__wrapper {
    margin: 30px 35px 20px 30px; }
  .latest-news__item {
    width: 550px;
    height: auto; }

  .summer-sale__content:last-child {
    display: none; }
  .summer-sale .subscribe__wrapper {
    width: 100%; }

  .footer {
    height: auto; }
    .footer__container {
      margin-top: 70px;
      width: 100%; }
    .footer__content {
      display: flex;
      flex-direction: column;
      align-items: center; }
    .footer__row {
      width: 562px; }
    .footer__link {
      line-height: 32px; }
    .footer__copyright {
      margin-bottom: 40px; } }
@media (max-width: 767px) {
  .top-banner {
    height: 65px; }

  .meStore__email {
    display: none; }
  .meStore__icons {
    width: 55px; }
  .meStore__row {
    display: flex; }
  .meStore__wrapper {
    width: auto; }
  .meStore .navbar-collapse {
    position: absolute;
    left: -20px;
    top: 49px;
    width: calc(100% + 40px);
    padding: 0px 20px;
    background-color: rgba(248, 249, 250, 0.53);
    z-index: 100; }
  .meStore .navbar {
    position: relative; }
  .meStore .nav-item {
    line-height: 30px; }
  .meStore__contain .navbar-toggler {
    border-color: transparent;
    padding: 0; }
  .meStore__contain .fa-list-ul {
    display: none; }

  .fashion-carnival__content {
    width: 100%; }
  .fashion-carnival__title {
    font-size: 93px; }

  .promotion {
    height: auto; }
    .promotion__container {
      height: auto; }
    .promotion .benefits {
      height: auto; }
      .promotion .benefits__item {
        width: 132px;
        margin-right: 40px; }
      .promotion .benefits__item:nth-child(3) {
        margin-right: 0; }
      .promotion .benefits__icon {
        width: 115px;
        height: 115px; }
      .promotion .benefits__title {
        font-size: 18px; }
      .promotion .benefits__details {
        text-align: center;
        line-height: 18px; }
    .promotion .products__item:nth-child(2) {
      display: none; }
    .promotion .banner {
      height: auto; }
      .promotion .banner__content {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center; }
      .promotion .banner__item {
        margin: 0 auto;
        width: 100%;
        height: 293px; }
      .promotion .banner__item:first-child {
        margin-bottom: 30px;
        background-color: #ffffff;
        border: 1px solid #fee3ece3; }
      .promotion .banner__item:nth-child(2) {
        background-color: #ffffff;
        border: 1px solid #F2F3F4; }

  .latest-news {
    height: auto; }
    .latest-news__heading {
      margin-top: 62px; }
    .latest-news__container {
      height: auto; }
    .latest-news__content {
      padding: 0;
      height: auto; }
    .latest-news__item {
      width: 100%;
      margin: 15px 0 20px 0;
      max-width: 550px; }
    .latest-news__item:last-child {
      margin-bottom: 35px; }

  .summer-sale {
    height: auto;
    bottom: -95px; }
    .summer-sale__container {
      height: auto; }
    .summer-sale__content {
      height: auto;
      margin: 0 auto;
      margin-top: 57px; }
    .summer-sale__banner {
      background-image: url("../images/footer-background.png");
      background-size: cover;
      width: 100%;
      max-width: 495px;
      height: auto;
      margin: 0 auto; }
      .summer-sale__banner-wrapper {
        margin-top: 0;
        padding-top: 32px; }
      .summer-sale__banner-text {
        width: 195px; }
    .summer-sale__main {
      display: flex;
      flex-direction: column-reverse;
      padding-top: 0; }
    .summer-sale__title {
      margin-bottom: 10px; }
    .summer-sale .subscribe__wrapper {
      text-align: center; }
    .summer-sale .subscribe__form {
      width: 100%; }
    .summer-sale .subscribe__form input[type=submit] {
      width: 30%; }
    .summer-sale .subscribe__form input[type=text] {
      width: 70%; }
    .summer-sale .subscribe__title {
      font-size: 24px; }
    .summer-sale .subscribe__text {
      font-size: 14px; }

  .logos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    bottom: 214px;
    padding-bottom: 30px;
    height: 325px; }

  .footer__container {
    max-width: 645px; }
  .footer__wrapper {
    width: max-content; }
  .footer__row {
    width: inherit; }
  .footer__column:first-child {
    width: 280px; }
  .footer__row:nth-child(2) {
    margin-top: 25px; }
  .footer__column {
    width: inherit; }
  .footer__contacts {
    width: 75%; }
  .footer__payments span {
    margin-right: -3px; }
  .footer__menu {
    width: 100%; }
    .footer__menu-list {
      width: 100%; } }
@media (max-width: 576px) {
  .top-banner {
    height: 70px; }
    .top-banner__container {
      padding: 0 20px; }
    .top-banner__text {
      font-size: 14px; }

  .meStore__container {
    padding: 0 20px; }
  .meStore__info {
    font-size: 12px; }
  .meStore__options {
    width: 92px;
    font-size: 12px; }
  .meStore__logo {
    font-size: 23px; }
  .meStore .navbar-collapse {
    top: 53px; }

  .fashion-carnival__container {
    padding: 0 20px; }
  .fashion-carnival__title {
    font-size: 50px;
    line-height: 46.22px; }
  .fashion-carnival__date {
    padding-left: 32px;
    letter-spacing: 27.79px;
    font-size: 32px; }
  .fashion-carnival__text {
    font-size: 13px;
    line-height: 22px; }
  .fashion-carnival__btn {
    font-size: 18px; }

  .promotion__container {
    padding: 0 20px; }
  .promotion .benefits {
    margin-bottom: -40px; }
    .promotion .benefits__content {
      height: auto;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
    .promotion .benefits__icon {
      border: 1px solid #80808061; }
    .promotion .benefits__item {
      height: 200px;
      margin-right: 0; }
    .promotion .benefits__title {
      margin-top: 11px; }
    .promotion .benefits__details {
      margin-top: 8px; }
  .promotion .banner__title {
    font-size: 34px;
    line-height: 32.84px; }
  .promotion .banner__text {
    font-size: 13px; }
  .promotion .banner__btn {
    font-size: 17px; }
  .promotion .banner__item:first-child {
    background-color: #fee3ece3;
    margin-bottom: 22px; }
  .promotion .banner__item:nth-child(2) {
    background-color: #F2F3F4; }
  .promotion .banner__img {
    background-color: #ffffff; }
  .promotion .banner__item {
    height: 292px;
    border: transparent; }
  .promotion .products {
    text-align: center;
    margin-top: 37px; }
    .promotion .products__title {
      font-size: 23px; }
    .promotion .products__subtitle {
      font-size: 14px; }

  .latest-news__info {
    font-size: 14px;
    text-align: center;
    margin-bottom: 30px; }
  .latest-news__title {
    font-size: 19px; }
  .latest-news__heading {
    margin-top: 35px; }
  .latest-news__subtitle {
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 12px; }
  .latest-news__text {
    font-size: 13px; }
  .latest-news__container {
    padding: 0 20px; }

  .summer-sale__container {
    padding: 0 20px;
    bottom: 127px; }
  .summer-sale__content {
    margin-top: 50px; }
  .summer-sale__title {
    margin-bottom: 0; }
  .summer-sale .subscribe__container {
    height: auto;
    padding: 0 20px; }
  .summer-sale .subscribe__title {
    margin-top: 45px;
    font-size: 20px; }
  .summer-sale .subscribe__text {
    font-size: 12px;
    margin-bottom: 23px; }
  .summer-sale .subscribe__form {
    height: 85px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; }
  .summer-sale .subscribe__form input[type=text] {
    width: 100%; }
  .summer-sale .subscribe__form input[type=submit] {
    width: 100%;
    margin-left: 0;
    margin-top: 6px; }

  .logos {
    padding-bottom: 51px; }
    .logos__container {
      padding: 0 20px; }

  .footer__title {
    margin-bottom: 5px;
    font-size: 18px; }
  .footer__info {
    font-size: 11px;
    line-height: 22px;
    margin-bottom: 11px; }
  .footer__contacts {
    font-size: 11px;
    line-height: 24px; }
  .footer__link {
    font-size: 12px;
    line-height: 23px; }
  .footer__container {
    padding: 0 20px; }
  .footer__content {
    padding: 0 20px;
    align-items: flex-start;
    height: 750px; }
  .footer__menu {
    display: none; }
  .footer__row {
    display: flex;
    flex-direction: column; }
  .footer__column:first-child {
    width: auto;
    height: auto; }
  .footer__column:nth-child(2) {
    width: auto;
    height: 280px;
    padding-top: 15px; }
  .footer__row:nth-child(2) {
    position: relative;
    bottom: 133px; }
  .footer__copyright {
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 25px; }
  .footer .fa-facebook, .footer .fa-twitter, .footer .fa-rss, .footer .fa-google-plus, .footer .fa-pinterest-p, .footer .fa-vimeo {
    font-size: 13px; }
  .footer__socials {
    font-size: 12px;
    line-height: 20px; }
  .footer__contain:nth-child(2) {
    margin-top: 22px; } }
@media (max-width: 399px) {
  .promotion .banner__image {
    display: none; }
  .promotion .banner__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .promotion .banner__item:first-child {
    background-color: #f9236f3d; }
  .promotion .banner__item:nth-child(2) {
    background-color: #0062cc59; }
  .promotion .banner__wrapper {
    text-align: center;
    margin: 0; }
  .promotion .banner__btn:nth-child(2) {
    background-image: linear-gradient(to right, #4694e2 0%, #1874d0 100%); }

  .latest-news__title {
    font-size: 15px;
    text-align: center; }
  .latest-news__subtitle {
    font-size: 12px;
    text-align: center;
    margin-top: 6px;
    margin-bottom: 12px; }

  .logos {
    padding-bottom: 57px; }

  .footer {
    /*&__info {
      font-size: 13px;
    }
    &__contacts {
      font-size: 12px;
    }
    &__link {
      font-size: 13px;
      line-height: 30px;
    }
    &__socials {
      font-size: 13px;
    }
    &__copyright {
      font-size: 11px;
    }*/ } }

/*# sourceMappingURL=main.css.map */
